{% load static %}

<div class="card shadow p-4">
    <div class="card-head p-3">
        <div class="row">
            <div class="col-6">
                <h4>Genomic Data</h4>
            </div>
            <!-- <div class="col-6">
                <div class="form-group p-2">
                    <form action="{% url 'vidium:upload'%}" method="post" enctype="multipart/form-data" class="user text-center col-12">
                        <span class="mt-3">Upload file to populate table:</span>
                        {% csrf_token %}
                        <label id="uploadCsvLabel" for="uploadCsv" class="btn btn-primary">Choose File <i class="fas fa-file"></i></label>
                        <input id="uploadCsv" type="file" value="Browse" name="file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" hidden>
                        <button type="submit" formmethod="post" class="btn btn-outline-secondary" id="submitUpload">
                            Upload <i class="fas fa-upload"></i>
                        </button>
                    </form>
                </div>
            </div> -->
        </div> 
    </div>
    <div class="card-body">
        <table class="table table-bordered table-hover">
            <thead>
                <tr class="text-center"> 
                    <th scope="col">CHROM</th>
                    <th scope="col">POS</th>
                    <th scope="col">REF</th>
                    <th scope="col">ALT</th>
                    <th scope="col">FILTER</th>
                    <th scope="col">AF
                        <div>
                            <a href="/sort/AF/ASC"><small>ASC</small></a>
                            <a href="/sort/AF/DESC"><small>DESC</small></a>
                        </div>
                    </th>
                    <th scope="col">VF</th>
                    <th scope="col">DP</th>
                    <th scope="col">ALLELE</th>
                    <th scope="col">EFFECT</th>
                    <th scope="col">IMPACT</a>
                        <div>
                            <a href="/sort/IMPACT/ASC"><small>ASC</small></a>
                            <a href="/sort/IMPACT/DESC"><small>DESC</small></a>
                        </div>
                    </th>
                    <th scope="col">GENE</a>
                        <div>
                            <a href="/sort/GENE/ASC"><small>ASC</small></a>
                            <a href="/sort/GENE/DESC"><small>DESC</small></a>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for gene in genes %}
                    <tr class="text-center"> 
                        <td >{{gene.chrom}}</td>
                        <td>{{gene.pos}}</td>
                        <td>{{gene.ref}}</td>
                        <td>{{gene.alt}}</td>
                        <td>{{gene.filter}}</td>
                        <td>{{gene.af}}</td>
                        <td>{{gene.vf}}</td>
                        <td>{{gene.dp}}</td>
                        <td>{{gene.allele}}</td>
                        <td>{{gene.effect}}</td>
                        <td>{{gene.impact}}</td>
                        <td>{{gene.gene}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
